<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello, Skai!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

<nav class="navbar p-0">
    <a class="navbar-brand ps-3" href="#">
        <img src="https://cdn.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-white.svg"
             class="d-inline-block align-top" alt="">
        <span class="navbar-text p-0" th:text="${@environment.getProperty('spring.application.name')}"></span>
    </a>
</nav>
<div class="container" style="padding-top: 40px">
    <div class="jumbotron shadow bg-white rounded">
        <div class="d-flex p-5">
            <div class="flex-shrink-0">
                <img th:src="@{/images/logo.svg}" class="align-self-start me-3 mt-4" width="200px">
            </div>
            <div class="flex-grow-1 ms-3 welcome-message">
                <h1 class="display-6">Welcome to <span th:text="${@environment.getProperty('spring.application.name')}"></span> Application...</h1>
                <p class="lead"> You've successfully created an environment for your app.
                    You can modify the code in this repository to build your app.</p>
                <p class="lead lead bg-light fst-italic fs-6" >You can place some additional information about your app to this page. It can be useful for other people who will use your application.</p>
                <hr class="my-4">
                <p>API documented via Swagger.</p>
                <a class="btn btn btn-success btn-lg mr-3" href="/swagger-ui/index.html" role="button">Swagger</a>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>
</body>
</html>
